/* body {
background-color: #1A1B21;
width: 40%;
display:flex;
justify-content: center;
} */

.first-half {
    text-align: center;
    
}

.first-half h2 {
    margin-top: 0%;
    padding-top: 5%;
}
.second-half {
    padding-left: 5%;
    padding-right: 5%;
    
}

.IDesc {
    padding-bottom: 5%;
}

.my-face {
    display: block;
    margin: auto;
    width: 25%;
}
.card-content {
    display: block;
    margin: auto;
    width:25%;
    background-color:#1A1B21;
}